/*
Poppins regular: 500
Poppins semi-bold: 600
Poppins bold: 700

Hind Madurai regular: 400
*/
/********************************************MAIN ELEMENTS********************************************/
header {
  width: 100%;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1.6em;
  color: #26374C;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.5em;
  color: #26374C;
}

h3 {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.7em;
  color: #26374C;
}

p {
  margin: 0;
  padding: 0;
  font-family: "Hind Madurai";
  font-weight: 600;
  font-size: 1em;
  color: #26374C;
}

footer {
  margin: 0;
  padding: 0;
}
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.7em 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (min-width: 1200px) {
  footer ul {
    margin: 2em 0;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
footer ul li {
  display: inline;
  margin: 0;
  padding: 0 0.7em;
}
footer ul li a {
  display: inline-block;
  color: #F3F7F6;
  font-size: 2em;
}
footer p {
  margin: 0;
  padding: 0.2em 0 2em 0;
  text-align: center;
  line-height: 2em;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.7em;
  color: #F3F7F6;
}
@media only screen and (min-width: 1200px) {
  footer p {
    padding: 2em 0;
    text-align: right;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 0.9em;
    color: #F3F7F6;
  }
}

.container-fluid {
  padding: 0;
}

.row {
  width: 100%;
  margin: 0;
  padding: 0;
}

.dark_blue {
  background: #26374C;
}

.initial_space {
  margin: 0;
  padding: 4.5em 0 1em 0;
}

.logo {
  margin: auto;
  padding: 0.1em;
  width: 2.5em;
  height: 2.5em;
  color: #F3F7F6;
}

.top_nav {
  width: 100%;
  padding: 0.5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top_nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: #00A7E1;
  position: absolute;
  top: 3.45em;
  right: -150%;
  border-top-left-radius: 0.9em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media only screen and (min-width: 1200px) {
  .top_nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background: none;
    position: unset;
    top: unset;
    right: unset;
    -webkit-transition: 0s;
    transition: 0s;
  }
}
.top_nav ul li {
  padding: 1em 0 1em 2em;
  list-style: none;
}
@media only screen and (min-width: 1200px) {
  .top_nav ul li {
    display: inline;
    padding: 0.3em 1em;
    float: right;
  }
}
.top_nav ul li a {
  text-decoration: none;
  display: block;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.5em;
  color: #F3F7F6;
}
@media only screen and (min-width: 1200px) {
  .top_nav ul li a {
    display: inline-block;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 1.2em;
    color: #00A7E1;
  }
}
.top_nav ul li a span {
  margin: 0;
  padding: 0.5em;
  font-size: 0.9em;
}

/*.subcategories{
    display: block;
    margin: 0;
    padding: 0;

    @include respond-to($large-desktop){
        display: block;
    }

    ul{

        li{

            a{

            }
        }
    }
}*/
.mobile_menu_icon {
  margin: 0;
  padding: 0.4em 0 0.6em 0;
  width: 1.8em;
  height: 1.8em;
  float: left;
}
@media only screen and (min-width: 1200px) {
  .mobile_menu_icon {
    display: none;
  }
}

.user_menu {
  margin: 0;
  padding: 0.1em 0;
  float: right;
  color: #00A7E1;
  font-size: 2em;
}

#nav_options {
  display: none;
}

#nav_options:checked ~ ul {
  right: -2.5em;
}

/*****************************************SECONDARY ELEMENTS*****************************************/