@import 'vars';
@import 'utils';
@import 'media-queries';

/********************************************MAIN ELEMENTS********************************************/

//HTML Tags
body{
    padding: 3.5em 0 0 0;

    &::-webkit-scrollbar{
        width: .4em;
        background: $dark_blue;
    }

    &::-webkit-scrollbar-thumb{
        width: .4em;
        background: $light-blue;
        border-radius: .5em;
    }
}

header{
    width: 100%;
}

.after{
    &::after{
        content: '';
        display: block;
        width: 1.9em;
        padding-top: .25em;
        border-bottom: .2em solid $yellow;
        border-radius: .1em;

        @include respond-to($large-desktop){
            margin: auto;
        }
    }
}

h1{
    margin: .7em 0;
    padding: 0;
    @include set_text('Poppins', 700, 1.6em, $dark_blue);
}

h2{
    margin: 1.2em 0 1em 0;
    padding: 0;

    @include set_text('Poppins', 600, 1.5em, $dark_blue);

    @include respond-to($large-desktop){
        text-align: center;
    }
}

h3{
    margin: 0;
    padding: 0;
    @include set_text('Poppins', 500, 1.2em, $dark_blue);
}

p{
    margin: 0;
    padding: 0;
    @include set_text('Hind Madurai', 600, 1em, $dark_blue);
}

footer{
    margin: 0;
    padding: 0;

    ul{
        display: flex;
        margin: .7em 0;
        padding: 0;
        justify-content: center;

        @include respond-to($large-desktop){
            margin: 3em 0;
            justify-content: left;
        }

        li{
            display: inline;
            margin: 0;
            padding: 0 .7em;
            
            a{
                display: inline-block;
                color: $white;
                font-size: 2em;

                &:hover{
                    color: $light-blue;
                }
            }
        }
    }

    p{
        margin: 0;
        padding: .2em 0 2em 0;
        text-align: center;
        line-height: 2em;
        @include set_text('Poppins', 500, .7em, $white);

        @include respond-to($large-desktop){
            padding: 2em 0;
            text-align: right;
            @include set_text('Poppins', 500, .9em, $white);
        }
    }
}

//Classes
.container-fluid{
    padding: 0;
}

.row{
    width: 100%;
    margin: 0;
    padding: 0;
}

.min_height_container{
    padding: 0 0 5em 0;
    min-height: calc(100vh - 10em);
    background: $white;
}

.middle_h1{
    @include respond-to($large-desktop){
        text-align: center;
    }
}

.dark_blue{
    background: $dark_blue;
}

.card_event{
    height: 65%;
    width: auto;
    object-fit: cover;
    object-position: center center;
}

.logo{
    margin: auto;
    padding: .1em;
    width: 2.5em;
    height: 2.5em;
    color: $white;
    float: right;
}

.top_nav{
    width: 100%;
    padding: .5em;
    display: block;

    @include respond-to($large-desktop){
        display: flex;
        justify-content: space-between;
    }

    div{
        margin: 0;
        padding: 0;

        @include respond-to($large-desktop){
            display: block;
            width: 47%;
        }

        ul{
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100vh;
            background: $light-blue;
            position: absolute;
            top: 3.6em;
            left: -150%;
            border-top-right-radius: .9em;
            transition: .5s;
    
            @include respond-to($large-desktop) {
                margin: 0;
                padding: 0;
                width: auto;
                height: auto;
                background: none;
                position: absolute;
                top: unset;
                left: unset;
                right: 17%;
                transition: 0s;
            }
    
            li{
                margin: 0 0 0 5.5em;
                padding: .6em;
                list-style: none;
    
                @include respond-to($large-desktop) {
                    display: inline-block;
                    position: relative;
                    margin: 0;
                    padding: .3em 1em .3em 2em;

                    &:hover .children{
                        display: block;
                    }

                }
    
                
    
                a{
                    display: block;
                    text-decoration: none;
                    
                    @include set_text('Poppins', 700, 1.2em, $white);
    
                    @include respond-to($large-desktop) {
                        @include set_text('Poppins', 500, 1em, $white);
                    }
    
                    span{
                        margin: 0;
                        padding: .5em;
                        font-size: .9em;
                    }
                }
            }
        }
    
        ul .children{
            display: block;
            margin: 0;
            padding: 1em;
            position: static;
            height: unset;
            background: none;

            @include respond-to($large-desktop){
                display: none;
                position: absolute;
                width: 100%;
                background: $light-blue;
                border-radius: .5em;
            }
    
            li{
                margin: 0;
                padding: .4em 2em;

                @include respond-to($large-desktop){
                    margin: .3em auto;
                    padding: 0;
                    width: 100%;
                }
    
                a{
                    @include set_text('Poppins', 500, 1.1em, $white);

                    @include respond-to($large-desktop){
                        font-size: 1em;
        
                        &:hover{
                            color: $dark_blue;
                        }
                    }
                }
            }
        }
    }
}

.mobile_menu_icon{
    margin: 0;
    padding: .4em 0 2.2em 0;
    width: 1.8em;
    height: 1.8em;
    float: left;

    @include respond-to($large-desktop) {
        display: none;
    }
}

.user_menu{
    margin: 0;
    padding: .1em 0;
    float: right;
    color: $light-blue;
    font-size: 2em;
}

#nav_options{
    display: none;
}

#nav_options:checked ~ div ul{
    left: -20.5%;
}


/*****************************************SECONDARY ELEMENTS*****************************************/

//Home Page
.search_bar{
    display: block;
    margin: auto;
    padding: 0;
    width: 100%;
    position: relative;

    form{
        
        input{
            margin: 0;
            padding: .5em;
            width: 88%;
            background: $gray;
            border: none;
            border-top-left-radius: .5em;
            border-bottom-left-radius: .5em;

            @include set_text('Poppins', 600, 1em, $dark_blue);

            &::placeholder{
                @include set_text('Poppins', 600, 1em, $dark_blue);
            }

            @include respond-to($large-desktop){
                width: 88%;
            }
        }

        button{
            margin: 0 0 0 .1em;
            padding: .5em;
            border: none;
            background: $gray;
            border-top-right-radius: .5em;
            border-bottom-right-radius: .5em;
            position: absolute;

            i{
                color: $dark_blue;
                font-size: 1em;
            }
        }
    }
}

.premiere_section{
    margin: .7em 0;
    padding: 0;
    width: 100%;
    height: 13em;
    border-radius: .5em;
    background: $light-gray;
    border: none;
    overflow: hidden;

    div{
        a{
            display: block;
            margin: auto;
            padding: .3em 1em;
            background: $light-blue;
            text-decoration: none;
            text-align: center;
            border-radius: .5em;

            @include set_text('Hind Madurai', 400, 1.2em, $white);

            &:hover{
                color: $dark_blue;
                background: $yellow;
            }
        }
    }
}

.carousel_img{
    height: 12em;
    object-fit: cover;
    border-radius: .5em;
    object-position: center center;

    @include respond-to($large-desktop){
        height: 25em;
    }
}

.carousel{
    margin: 2em 0 1em 0;
    border-radius: .5em;
}

.carousel-inner{
    border-radius: .5em;
}

.carousel-item{
    padding: 0 .2em;
}

.carousel_control{
    display: block;
    margin: auto;
    background: $dark_blue;
    width: 10%;
    height: 23%;
    border-radius: 10em;
    opacity: 1;

    @include respond-to($large-desktop){
        width: 6%;
        height: 17%;
    }
}

.carousel-control-next{
    right: -2.5%;
}

.carousel-control-prev{
    left: -2.5%;
}

.control_icon{
    display: block;
    margin: auto;
    height: 1.5rem;
}

//Category Page
.category_title{
    @include respond-to($large-desktop){
        margin: 1em 0 1em 0;
        padding: 0;
        text-align: center;
    }
}

.category_card{
    margin: .7em 0;
    padding: 0;
    width: 100%;
    height: 60vh;
    border-radius: .5em;
    background: $light-gray;
    border: none;
    overflow: hidden;

    img{
        height: 35%;
        width: auto;
        object-fit: cover;
        object-position: center center;
    }

    h2{
        margin: .5em 0 1em 0;

        @include respond-to($large-desktop){
            text-align: left;
            margin: 0 0 .5em 0;
        }
    }

    h3{
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: right;
    }
    
    p{
        margin: .5em 0;
        padding: .3em 0;
        @include set_text("Hind Madurai", 400, 1.2em, $dark_blue);
    }

    a{
        display: block;
        margin: 0;
        padding: .5em 2em;
        background: $light-blue;
        border-radius: .5em;
        float: right;

        &:hover{
            i{
                color: $dark_blue;
            }

            background: $yellow;
        }

        i{
            color: $white;
            font-size: 1.5em;
        }
    }
}

//Pay and contact info
.pay_contact{
    margin: 0;

    Label{
        margin: .5em 0;
        @include set_text('Poppins', 500, 1em, $dark_blue);
    }

    input{
        display: block;
        margin: 0 0 .5em 0;
        padding: .5em;
        width: 100%;
        border: none;
        border-radius: .5em;
        background: $light-gray;

        @include set_text('Hind Madurai', 400, 1em, $dark_blue);

        &::placeholder{
            margin: 0;
            padding: 0;
            @include set_text('Hind Madurai', 400, 1em, #a3aab3);
        }
    }

    button{
        display: block;
        margin: 1.5em auto 3em auto;
        padding: .5em;
        width: 50%;
        border: none;
        border-radius: .5em;
        background: $light-blue;
        
        @include set_text('Poppins', 700, 1em, $white);

        &:hover{
            color: $dark_blue;
            background: $yellow;
        }
    }
}


//Shop info page
.shop_info{
    h2{
        @include respond-to($large-desktop){
            text-align: left;
        }
    }

    p{
        margin: 0;
        padding: .5em 0;
        width: 100%;

        @include set_text('Hind Madurai', 400, 1.1em, $dark_blue);
    }
    
    span{
        display: block;
        margin: 0;
        padding: .5em 0;

        button{
            display: inline-block;
            margin: 0;
            padding: .3em .5em;
            background: $gray;
            border: none;
        }

        input{
            margin: 0;
            padding: .21em 0;
            width: 20%;
            border: none;
            background: $light-gray;
            text-align: center;

            @include set_text('Hind Madurai', 400, 1.2em, $dark_blue);

            @include respond-to($large-desktop){
                width: 10%;
            }
        }

        i{
            margin: 0;
            padding: 0;
            text-align: center;
            color: $dark_blue;
            font-size: .6em;
        }
    }

    button{
        display: block;
        margin: 1em auto 3em auto;
        padding: .5em 1.6em;
        border: none;
        background: $light-blue;

        @include set_text('Poppins', 700, 1.1em, $white);

        &:hover{
            color: $dark_blue;
            background: $yellow;
        }
    }
}

#btn_continue_shoping{
    border-radius: .5em;
}

.shop_detail{
    display: block;
    margin: .5em auto .5em auto;
    padding: .5em;
    width: 100%;
    background: $light-gray;
    border-radius: .5em;

    @include respond-to($large-desktop){
        margin: .5em auto 2em auto;
    }
}

.subtitle_shop_info{
    display: block;
    margin: 0;
    padding: .5em 0;
    
    @include set_text('Poppins', 600, 1em, $dark_blue);
}

.total_shop_info{
    text-align: center;
}

.minus_border_radius{
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
}

.plus_border_radius{
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
}

//Confirmation page
.confirmation_detail{
    display: block;
    margin: .5em 0;
    padding: 1em;
    width: 100%;
    background: $light-gray;
    border-radius: .5em;

    @include respond-to($large-desktop){
        margin: .5em auto;
        width: 60%;
    }

    h2{
        @include respond-to($large-desktop){
            text-align: left;
        }
    }

    p{
        display: block;
        margin: auto;
        padding: .5em;
        text-align: center;

        @include set_text('Hind Madurai', 400, 1.2em, $dark_blue);
    }

}

.btn_backHome_confirmation{
    display: block;
    margin: 1em auto 3em auto;
    padding: .5em 1.2em;
    width: 60%;
    border-radius: .5em;
    background: $light-blue;
    text-align: center;
    text-decoration: none;

    @include respond-to($large-desktop){
        width: 25%
    }

    @include set_text('Poppins', 700, 1.1em, $white);

    &:hover{
        color: $dark_blue;
        background: $yellow;
    }
}

//Event datail page
.event_back_cover{
    display: block;
    margin: 0 0 3em 0;
    padding: 0;
    position: relative;

    @include respond-to($large-desktop){
        margin: 0 0 1em 0;
    }

    img{
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center center;
    }

    &::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(rgba(255,255,255,0) 3%, $white);

        @include respond-to($large-desktop){
            background: linear-gradient(rgba(255,255,255,0) 1%, $white);
        }
    }
}

.inner{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 3em;
    position: absolute;

    @include respond-to($large-desktop){
        top: 1em;
    }

    img{
        display: block;
        margin: 0 auto;
        padding: 0;
        width: 87%;
        height: 14em;
        border-radius: .5em;
        object-fit: cover;
        object-position: center center;

        @include respond-to($large-desktop){
            width: 77%;
            height: 66%;
        }
    }
}

.event_detail{
    display: block;

    h1{
        &::after{
            content: '';
            display: block;
            width: 1.9em;
            padding-top: .25em;
            border-bottom: .2em solid $yellow;
            border-radius: .1em;
        }
    }

    h2{
        @include respond-to($large-desktop){
            text-align: right;
        }
    }

    h3{
        margin: 1em 0;
        padding: 0;
    }

    p{
        margin: 0 0 2em 0;
        padding: 0;

        @include set_text('Hind Madurai', 400, 1em, $dark_blue);
    }

    form{
        margin: 0;
        padding: 0;
    }

    
}

.select_box{
    display: block;
    width: 100%;
    position: relative;

    .selected{
        position: relative;
        display: block;
        margin: auto;
        margin-bottom: .5em;
        padding: .5em 1em;
        cursor: pointer;
        background: $gray;
        border-radius: .5em;

        @include set_text('Hind Madurai', 400, 1em, $dark_blue);

        &::after{
            content: '';
            background: url(../img/svg/caret-down-solid.svg);
            background-repeat: no-repeat;

            position: absolute;
            width: 1em;
            height: 100%;
            right: .5em;
            top: .4em;
            transition: all .5s;
        }
    }

    .options_container{
        position: absolute;
        background: $gray;
        width: 100%;
        max-height: 0;
        opacity: 0;
        transition: all .5s;
        border-radius: .5em;
        overflow: hidden;
        z-index: 9;

        &::-webkit-scrollbar{
            width: .4em;
            background: $dark_blue;
            border-radius: 0 .5em .5em 0;
        }

        &::-webkit-scrollbar-thumb{
            width: .4em;
            background: $light-blue;
            border-radius: 0 .5em .5em 0;
        }
    }

    .options_container.active{
        max-height: 8em;
        opacity: 1;
        overflow-y: scroll;
    }

    .option{
        margin: 0;
        padding: .5em 1em;
        cursor: pointer;

        &:hover{
            background: $light-blue;

            label{
                color: $white;
            }
        }

        input{
            display: none;
        }

        label{
            cursor: pointer;
            @include set_text('Hind Madurai', 400, 1em, $dark_blue);
        }
    }
}

.submit_event_detail{
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    
    @include respond-to($large-desktop){
        width: 100%;
        height: 100%;
    }

    button{
        display: block;
        margin-bottom: .7em;
        padding: .5em 1em;
        width: 100%;
        text-align: center;
        text-decoration: none;
        background: $light-blue;
        border: none;
        border-radius: .5em;
        
        @include set_text('Poppins', 700, 1em, $white);

        @include respond-to($large-desktop){
            margin: 0;
        }
        
        &:hover{
            color: $dark_blue;
            background: $yellow;
        }
    }
}

.events_related{
    display: block;
    margin: .7em;
    padding: 0;
    border: none;
    border-radius: .5em;
    background: $light-gray;
    overflow: hidden;

    a{
        display: block;
        margin: auto;
        padding: .5em 1em;
        border-radius: .5em;
        background: $light-blue;
        text-decoration: none;
        text-align: center;

        @include set_text('Hind Madurai', 400, 1.2em, $white);

        &:hover{
            color: $dark_blue;
            background: $yellow;
        }
    }
}

.fit_to_border{
    padding: 0;

    @include respond-to($large-desktop){
        padding: 0 1em;
    }
}